:root {
  --base-color: #F4F6F6;
  --base-variant: #e8e9ed ;
  --base-variant-tert: #eeeeee  ;
  --text-color: #17202A ;
  --secondary-text: #212f3d ;
  --primary-color: #0071ff ;
  --accent-color: ;
}
.dark-mode {
  --base-color: #212f3d;
  --base-variant: #17202A ;
  --base-variant-tert: #1C2833 ;
  --text-color: #F4F6F6 ;
  --secondary-text: #AEB6BF ;
  --primary-color: #F4D03F ;
  --accent-color: ;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.selectable {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.selection-rectangle {
  position: absolute;
  background: rgba(173, 216, 230, 0.3);
  border: 1px dashed rgba(0, 0, 255, 0.5); 
  pointer-events: none;
  z-index: 1000;
}
*, html {
    margin: 0 ;
    font-family: sans-serif ;font-family: "Poppins", serif;
    font-style: normal;
    scroll-behavior: smooth;
}
svg {
    height: 70px ;
    position: absolute ;
    bottom: -20px ;
    right: 90% ;
}
svg#bar-svg {
  fill: var(--primary-color);
  cursor: pointer;
}
div.nav {
    width: 100% ;
    margin-bottom: 0 ;
    height: 100px ;
    background-color:var(--base-variant)   ;
    position: fixed;
    top: 0 ;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .2);
    z-index: 3 ;
}
  nav#navbar {
    position: relative ;
    right: 0 ;
    height: 100% ;
}
  nav#navbar > ul {
    width: 100% ;
    display: flex ;
    justify-content: space-evenly ;
    flex-wrap: wrap ;
    position: relative ;
    left: 0% ;
    top: 35% ;
}
  li {
    list-style-type: none ;
    padding: 0 ;
    margin: 0 ;
}
#themeswitch {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px ;
  right: 20px;
}
#themeswitch > svg {
  fill: var(--primary-color);
  position: relative;
  left: 0px ;
  bottom: 0px;
}
#themeswitch > svg:last-child {
  display: none;
}
.dark-mode #themeswitch > svg:first-child {
  display: none ;
}
.dark-mode #themeswitch > svg:last-child {
  display: block;
}
nav#navbar > ul > li > a.nav-link {
    text-decoration: none ;
    color: var(--text-color) ;
    padding: 37px ;
    margin: 0 ;
    font-size: 1.5rem ;
  }
  body {
    background-color: var(--base-variant);
    text-align: center ;
    overflow-x: hidden;
  }
  div.add-workout-app {
    text-align: center ;
    position: relative ;
    top: 150px ;
    margin: auto ;
    width: 500px ;
    height: 500px ;
    display: flex ;
    flex-direction: column ;
    z-index: 1;
  }
  div#create-form-div {
    position: relative;
    z-index: 2 ;
    background-color: var(--base-variant-tert);
    width: 500px ;
    height: 600px ;
    border-radius: 20px ;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  }
  button#open-create-form-btn {
    border: 1px solid ;
    height: 100px; ;
    position: relative;
    top: 50px ;
    width: 80% ;
    margin: 0 auto ;
    font-size: 1.5rem ;
    border-radius: 10px ;
    color: var(--primary-color);
    background-color: var(--base-variant);
    border: 1px solid var(--primary-color) ;
    transition: all 0.2s ease-in-out;
  }
  div#create-form-div > form > div.create-form-inputs label {
    color: var(--secondary-text);
  }
  button#open-create-form-btn {
    margin-top: 100px ;
  }
  button#open-create-form-btn:hover {
    color: var(--base-variant);
    background-color: var(--primary-color);
  cursor: pointer ;
  }

  .hidden {
    display: none ;
  }
  .create-form {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    
  }
  
  .create-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .create-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .create-form-footer {
    display: flex;
    justify-content: center;
  }
  .create-form-label  {
  display: block;
  position: relative;
  margin-top: 30px ;;
}
.create-form-label {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #FBFCFC ;
}
.create-form-input {
  border-radius: 8px;
  height: 30px;
  border: none ;
}
button#close-create-form-btn {
    background: none ;
    border: none ;
    cursor: pointer;
    position: relative;
    left: 30px ;
}
.close-icon {
    width: 20px ;
    height: 20px ;
}
button#add-workout-head {
    border: 1px solid ;
    height: 50px; ;
    position: relative;
    top: 50px ;
    width: 80% ;
    margin: 0 auto ;
    font-size: 1.5rem ;
    border-radius: 10px ;
    background-color: var(--base-variant-tert);
    color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
    transition: all 0.2s ease-in-out;
}
button#add-workout-head:hover {
    color: var(--base-variant-tert);
    background-color: var(--primary-color);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
  cursor: pointer ;
}
input {
    height: 25px ;
    font-size: 20px;
}
span#edit-workout-div {
    position: relative;
    top: 80px ;
    height: 600px ;
    background-color: var(--base-variant-tert) ;
    text-align: center;
    border-radius: 20px ;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
    overflow-y: hidden;
    overflow-x: hidden;

}
#edit-workout-div.blurred *:not(.focused) {
  filter: blur(5px);
  pointer-events: none;
}
.focused {
  z-index: 2;
  filter: none ;
}
.editHead {
    margin: 30px ;
    background-color: var(--base-variant-tert);
    height: 100px;
    margin: auto ;
    width: 100%;
    color: var(--text-color) ;
    text-align: left;
    border-radius: 20px 20px 0 0 ;
    
}
.editHead > h1  {
    padding-top: 20px ;
    padding-left: 20px ;
}
.editHead > p {
    padding-left: 20px;
    padding-top: 5px ;
}
.addLapOrSaveBtns {
    position: relative;
    width: 100% ;
    bottom: 0;
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--base-variant-tert);
}
.addLapOrSaveBtn {
    background-color: var(--base-variant-tert);;
    height: 40px ;
    width: 250px ;
    border-bottom: 3px solid var(--primary-color);
    font-size: 30px ;
    color: var(--primary-color);
    outline: none;
    display: inline-block ;
    line-height: 40px;
    transition: all 0.2s ease-in-out;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}
.blockBtn {
  box-shadow: none;
  width: 500px ;
}
.addLapOrSaveBtn:hover {
    background-color: var(--primary-color);
    color: var(--base-variant-tert);
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
}
.addLapOrSaveBtn:active {
    background-color: var(--base-variant-tert);
    color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-text);
    transform: scale(1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.lap {
  display: flex;
  flex-direction: column ;
  margin: 25px;
  padding: 15px ;
  border: 2px solid var(--base-variant-tert);
  border-radius: 10px;
  background-color: var(--secondary-text);
  height: 180px;;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 10;
}
input.lap-text {
  width: 250px;
}
.lap > span {
  display: flex ;
  justify-content: flex-start ;
  margin-bottom: 10px;
}
.lap > span > label {
  font-size: 20px ;
  position: relative;
  top: 5px ;
}
.lap > span > input {
  height: 30px ;
  margin: 0 20px;
  border-radius: 5px ;
  border: none ;
  padding: 5px ;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}
.lap > span#time-input > input {
  width: 80px ;
}
.lap > span#lap-input-power > input {
  width: 80px ;
}
.lap > span > p {
  font-size: 25px ;
  position: relative;
  top: 5px ;
  right: 10px ;
}
.lap > span > button {
  width: 150px ;
  height: 30px ;
  margin-left: 50px;
  font-size: 20px ;
  border: 2px solid var(--base-variant-tert) ;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
  background-color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
.lap > span > button.addLap:hover {
  cursor: pointer;
  background-color: #138D75;
  color: var(--text-color);
}
.lap > span > button.discardLap:hover {
  cursor: pointer;
  background-color: #C0392B;
  color: var(--text-color);
}
#edit-workout-div > .lapDataNShi {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 ;
  position: relative;
  z-index: 1;
  color: var(--secondary-text);
}
#edit-workout-div > .lapDataNShi > #lap-data-right {
  padding: 5px ;
  padding-left: 10px ;
  text-align: left;
}
#edit-workout-div > .lapDataNShi > #lap-data-left {
  border-right: 1px solid;
  width: 15% ;
}
#edit-workout-div > .lapDataNShi > #lap-data-left > p {
  margin-top: 25% ;
  font-size: 20px ;
}
#edit-workout-div > .lapDataNShi > #lap-data-very-right {
  width: 30% ;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
#edit-workout-div > .lapDataNShi > #lap-data-very-right > #pencil-svg {
  width: 20% ;
  position: relative;
  left: 80px ;
  bottom: 5px ;
  fill: #2C3E50 ;
  transition: all 0.2s ease-in-out;
}
#edit-workout-div > .lapDataNShi > #lap-data-very-right > #bin-svg {
  width: 20%;
  position: relative;
  left: 100px ;
  bottom: 5px ;
  fill: #2C3E50 ;
  transition: all 0.2s ease-in-out;
}
#edit-workout-div > .lapDataNShi > #lap-data-very-right > #bin-svg:hover {
  fill: #C0392B;
} 
#edit-workout-div > .lapDataNShi > #lap-data-very-right > #pencil-svg:hover {
  fill: #138D75 ;
}
#edit-workout-div > .lapDataNShi > .this-lap-data > p {
  display: none ;
}
#edit-workout-div > div#decider {
  background-color: var(--base-variant-tert);
  height: 100% ;
  border-radius: 20px;
  overflow: hidden;
}
#edit-workout-div > div#decider > #header {
  position: relative;
  top: 0px ;
  font-size: 25px ;
  color: var(--text-color);
  background-color: var(--base-color);
  height: 100px ;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}
#edit-workout-div > div#decider > #header > p {
  position: relative;
  top: 30px ;
}
#edit-workout-div > div#decider > .tool-options {
  width: 95% ;
  margin: auto;
  height: 270px ;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: space-evenly;
}
#edit-workout-div > div#decider > .tool-options > span {
  width: 200px ;
  border-radius: 20px;
  background-color: var(--secondary-text);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}
#edit-workout-div > div#decider > .tool-options > span > p {
  padding: 10px ;
  padding-bottom: 12px ;
  background-color: var(--base-color);
  border-radius: 20px 20px 0 0 ;
  color: var(--text-color);
  font-size: 20px;
  position: relative;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
}
#edit-workout-div > div#decider > .tool-options > span > svg {
  position: relative;
  left: 0 ;
  top: 50px ;
  height: 100px ;
  fill: var(--base-color);

}
#edit-workout-div > div#decider > .tool-options > span:hover {
  background-color: var(--base-color);
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px var(--primary-color);
  transition: all 0.2s ease-in-out;
} 
#edit-workout-div > div#decider > .tool-options > span:hover svg {
  fill: var(--secondary-text);
  transition: all 0.2s ease-in-out;
}
#edit-workout-div > div#decider > .tool-options > span:hover > p {
  color: var(--base-color) ;
  background-color: var(--secondary-text);
  box-shadow: 0px 0px 3px 3px var(--primary-color);
  transition: all 0.2s ease-in-out;
}
#edit-workout-div > .blockWorkoutData {
  width: 300px ;
  text-align: left;
  height: 50px ;
  padding: 10px ;;
}
#edit-workout-div > .blockWorkoutData > p {
  margin-bottom: 10px ;
  color: var(--secondary-text) ;
}
#edit-workout-div > .blockLapDiv {
  height: 80px ;
  border-radius: 20px ;
  border: 1px solid var(--primary-color);
  position: absolute ;
  bottom: 0px ;
  top: 0px ;
  background-color: var(--base-color) ;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
  padding: -1px ;
  container-type: inline-size ;
}
@container (max-width: 100px) {
  .block-svgs > svg {
    display: none;
  }
}
#edit-workout-div > .blockLapDiv > #editBlockLap > svg {
  position: relative;
  left: 0px ;
  height: 20px;
  top: 40% ;
  bottom: 60%;
  fill:var(--primary-color);
}
#edit-workout-div > .blockLapDiv > #editBlockLap > svg:hover {
  cursor: pointer ;
}
#edit-workout-div > .blockLapDiv:hover {
  cursor: grabbing;
}
#edit-workout-div > div.lapBlocksBottom {
  border: 1px solid var(--base-variant);
  position: relative;
  top: 215px ;
  height: 70px ;
  border-radius: 0 0 20px 20px ;
  background-color: var(--base-variant);
} 
.blockLap {
  margin-top: 200px ;
  height: 130px ;
  background-color: var(--base-color);
  border: 1px solid var(--text-color);
}
#addBlockLap {
  background-color: var(--base-variant-tert);
  border: none;
}
#discardBlockLap {
  background-color: var(--base-variant-tert);
  border: none;
}
#addBlockLap:hover {
  cursor: pointer;
  background-color: #138D75;
  color: var(--text-color);
}
#discardBlockLap:hover {
  cursor: pointer;
  background-color: #C0392B;
  color: var(--text-color);
}
.verticalDrag {
  position: absolute;
  background-color: var(--primary-color);
  height: 5px;
  top: 0 ;
  width: 40% ;
  margin: 0 30% ;
  border-radius: 3px;
  cursor: row-resize ;
}
.verticalDrag:hover {
  cursor: row-resize ;
}
.horizontalDrag {
  position: absolute;
  background-color: var(--primary-color);
  height: 40%;
  width: 5px ;
  margin: auto 0 ;
  border-radius: 3px;
  bottom: 25%;
  left: 99% ;
  z-index: 10 ;
}
.horizontalDrag:hover {
  cursor: col-resize ;
}
.topInfo {
  position: relative;
  width: 40% ;
  margin: 0 auto ;
  bottom: 50px ;
}
.topInfo {
  color: var(--primary-color) ;
}
.bottomInfo {
  position: relative;
  width: 40% ;
  margin: 0 auto ;
  top: calc(100% - 10px) ;
}
.bottomInfo  {
  color: var(--primary-color) ;
}
.block-svgs {
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 20px;
  bottom: 30px;
  top: calc(40% - 30px);
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
}
.block-svgs > svg {
  position: relative;
  left: 0px ;
  bottom: 10px;
  height: 20px;
  fill: #2c3e50 ;
}
.block-svgs > svg:hover {
  cursor: pointer;
  fill: var(--primary-color) ;
  transition: all 0.2s ease-in-out;
}
.selected {
  background-color: rgba(255, 215, 0, 0.01); /* Light gold highlight */
  transition: all 0.1s ease-in-out;
}
.selectionDiv {
  position: absolute ;
  top: 0;
  left: 0 ;
  width: 100% ;
  height: 100% ;
  border-radius: 10px ;
  pointer-events: none;
  z-index: 1;
}
.grpEdit {
  position: absolute;
  width: 300px ;
  height: 50px ;
  top: 170px ;
  left: 20% ;
}
.grpEdit > div.blockGrp-svgs {
  border: 3px solid var(--primary-color)  ;
  background-color: var(--primary-color) ;
  box-shadow: 3px 3px 3px 3px var(--primary-color);
  border-radius: 30px;
  position: relative;
  width: 100% ;
  height: 100% ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grpEdit > div.blockGrp-svgs > svg {
  position: relative;
  left: 0px ;
  top: 13px;
  height: 30px ;
  fill:  var(--base-color)  ;
}
.grpEdit > div.blockGrp-svgs > svg:hover{
  fill:   var(--primary-color)   ;
  cursor: pointer ;
}
.aboutDiv {
  height: 100vh;
  width: 100vw;
  background-color: var(--base-color);
}
.aboutDiv > svg {
  position: relative;
  left: 0 ;
  top: 130px ;
  height: 100%;
  width: 100vw ;
  z-index: 1 ;
}
.aboutDiv > svg > path {
  fill: var(--base-color);
  stroke: var(--primary-color);
}
.placeholder {
  position: relative;
  top: 300px ;
  height: 500px;
  width: 50vw ;
  text-align: left;
  margin: auto ;
}
.desc-text {
  background-color: rgba(33, 47, 61, 0.001);
  margin: 0;
  text-align: left;
  position: absolute;
  top: 140px ;
  left: 50px ;
  z-index: 2;
  color: var(--text-color) ;
  font-weight: 200;
}
.desc-text > h1 {
  font-weight: normal;
  font-size: 6.2rem;
}
.desc-text > p.subtitle {
  font-size: 1.8rem;
  position: relative;
  top: -30px ;
  left: 5px ;
}
.starter {
  position: relative;
  top: 100px ;
  font-weight: 400 ;
  font-size: 40px; 
  color: var(--text-color) ;
  text-decoration: none;
}
.hoverUnder {
  width: max-content;
  position: relative;
  cursor: pointer;
}
.hoverUnder::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: var(--text-color);
  transition: 0.3s;
  transition-timing-function: easy-in-out;
  transform: scaleX(0)
}
.hoverUnder:hover::after {
  transform: scaleX(1)
}
.arrowChar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 50px;
  font-weight: 200;
  position: relative;
  top: 5px ;
}
.instructH {
  color: var(--text-color);
  font-weight: 400;
  padding: 5px;
}
.instructions {
  color: var(--text-color) ;
  font-size: 1.2rem;
  padding: 5px;
  list-style: square ;
}
a {
  text-decoration: underline;
  color: var(--secondary-text);
}